[submodule "roles/newrelic"]
	path = roles/newrelic
	url = https://github.com/weareinteractive/ansible-newrelic.git
[submodule "roles/sp"]
	path = roles/sp
	url = git@github.com:ubuntunet/ansible-role_sp.git
