<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>unIDa Test Service Provider</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.discojuice.org/css/discojuice.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <img src="hands-on.png" class="pull-right">

      <h1>Task 3 - IdP & SP: The Full Monty</h1>

      <p>
        In this last exercise, we want to give only students access to the /students_only folder.  
        There is one attribute that already exists in the LDAP of our IdP and that we can use to find out if a user is a student. It's called <code>eduPersonAffiliation</code>.
      </p>

      <p>
        Do all the necessary changes to allow the user mstuder to access the folder, while lclerk will be denied access.
      </p>

      <p>Some hints:</p>
      <ul>
        <li>
          <code>attribute-resolver.xml</code> and <code>attribute-filter.xml</code> need to adapted on the Identity Provider side
        </li>
        <li>
          <code>attribute-map.xml</code> on the Service Provider side
        </li>
        <li>
          <code>apache2.conf</code> on the SP side as well
        </li>
        <li>
          Don't forget to re-provision the system after any changes<br />
          <code>vagrant provision</code>
        </li>
      </ul>

      <p>
        Looking for the solution?
        Switching back to the develop branch, will release the <code>eduPersonAffiliation</code> attribute on the Service Provider side:< br />
        <code>git checkout develop</code>
      </p>

      <hr />
      <h2>Get Attributes, login directly</h2>
      <a class="btn btn-primary" role="button" href="https://{{ fqdn }}/Shibboleth.sso/Login?entityID=https%3A%2F%2F{{ example_idp_fqdn }}%2Fshibboleth&target=https%3A%2F%2F{{ fqdn }}%2FShibboleth.sso%2FSession">Login via IdP</a>

      <hr />

      <h2>Force login by accessing a secured website</h2>
      <a class="btn btn-primary" role="button" href="secure">Access secure content</a>

       <hr />

<!--
      <h2>Embedded Discovery Service (eDS)</h2>
      <a href="/login" class="login-btn btn btn-primary">Login via eDS</a>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

 -->

      <!-- DiscoJuice hosted by UNINETT at discojuice.org -->
<!--       <script type="text/javascript" src="//cdn.discojuice.org/engine/discojuice-stable.min.js"></script>
 -->
<!-- 
      <script type="text/javascript">

        // DiscoJuice.Hosted.setup(
        //   {
        //     "target": "a.login-btn",
        //     "title": "My service provider",
        //     "spentityid": "https://192.168.33.88/shibboleth",
        //     "responseurl": "https://192.168.33.88/response.html",
        //     "redirectURL": "https://192.168.33.88/Shibboleth.sso/Login?target=https://192.168.33.88/Shibboleth.sso/Session&entityID=",
        //     "feed": ["edugain"]
        //   }
        // );


        $(document).ready(function() {

          var djc = DiscoJuice.Hosted.getConfig(
             "{{ sp_name }}",
             "{{ entity_id }}",
             "https://{{ fqdn }}/response.html", [], 
             "https://{{ fqdn }}/Shibboleth.sso/Login?target=https://{{ fqdn }}/Shibboleth.sso/Session&entityID="
          );


          djc.inlinemetadata = [
            {
              'entityID': "{{ example_idp_entity_id }}",
              'title': 'FedApps',
              'icon': 'openidp.png',
              'descr':'IdP for FedApps Training',
              'country':'TZ',
              'geo':null,
              'weight':-5,
              'keywords': ['UbuntuNet', 'Alliance', 'unIDA', 'FedApps']
            }
          ];


          $("a.login-btn").DiscoJuice(djc);    
        });
        
      </script>
 -->


      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
-->
    </div>
  </body>
</html>
