<VirtualHost *:80>
  ServerName {{ fqdn | default('default_fqdn') }}
  DocumentRoot /var/www/html

  RewriteEngine on
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*) https://%{HTTP_HOST}/$1
  
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ fqdn | default('default_fqdn') }}
  ServerAdmin {{ admin_email }}
  CustomLog /var/log/apache2/{{ fqdn | default('default_fqdn') }}.access.log combined
  ErrorLog /var/log/apache2/{{ fqdn | default('default_fqdn') }}.error.log

  DocumentRoot /var/www/html

  <Directory "/var/www/html/secure">
    Options Indexes FollowSymLinks

    AuthType shibboleth
    require shibboleth
    ShibRequestSetting requireSession true
  </Directory>

  <Directory "/var/www/html/students_only">
    Options Indexes FollowSymLinks
    AuthType shibboleth
    require shib-attr eduPersonAffiliation student
    ShibRequestSetting requireSession true
  </Directory>

  SSLEngine On
  SSLCipherSuite HIGH:MEDIUM:!aNULL:!kRSA:!MD5:!RC4
  SSLProtocol all -SSLv2 -SSLv3
  SSLCertificateKeyFile /etc/letsencrypt/live/{{ fqdn | default('default_fqdn') }}/privkey.pem
  SSLCertificateFile /etc/letsencrypt/live/{{ fqdn | default('default_fqdn') }}/fullchain.pem
  SSLCertificateChainFile /etc/letsencrypt/live/{{ fqdn | default('default_fqdn') }}/fullchain.pem

  BrowserMatch "MSIE [2-6]" \
      nokeepalive ssl-unclean-shutdown \
      downgrade-1.0 force-response-1.0
  # MSIE 7 and newer should be able to use keepalive
  BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown

</VirtualHost>